<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AMY Capture Now</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="AMY Capture Now"></app-explore-container> -->
  <div>
    <p>It's a camera application which click the picture, allow turning the camera front and back and let the user upload picture from the gallery.
    </p>
    <br><br>
    <p> Plugins Used </p>
    <li> Camera
      <p> To capture the image</p>
    </li>
   
    <li> FileSystem
      <p>  To save the clicked picture to the device. </p>
      <p>  To load image to the applcation from the device</p>
    </li>
    <br><br>
    <p>Submission by -</p>
    <p>Abhimanyu Yadav : 10615426</p>

  </div>
  
</ion-content>
