<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AMY Capture Now</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="AMY Capture Now"></app-explore-container> -->
  <div>
    <h1> AMY Capture Now</h1>
    <p>It's a 2 in 1 app that includes a torch and a camera.
    </p>
    <p>The torch enables the flashlight to see in the dark</p>
    <p> The camera captures the image and save it to the device. The saved file is then loaded back to gallery from the device.</p>
    
    <p>Here, we are using the following plugins</p>
    <li>Camera</li>
    <p> To capture the image</p>
    <li>FileSystem</li>
    <p> To save to device and then load the image back from device</p>
    <li>Flashlight</li>
    <p> To turn on the flashlight</p>

  </div>
  
</ion-content>
